{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for nav in navigation %}
        <title>{{ nav.vacancy_title }}</title>
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
        </head>
        <body>
        <header>
            <img class="logo" src="{{ nav.logo_image.url }}">
            <div class="name">
                <p>{{ nav.vacancy_title }}</p>
            </div>
        </header>
        <main>
        <div class="body">
        <div class="navigation" style="height: 1200px">
            <nav>
                <ul>
                    <li><a style="-webkit-text-stroke: 1px #000; color: #D48166 !important; font-size: 30px"
                           href="/">{{ nav.first_menu_item }}</a></li>
                    <li><a href={% url 'importance' %}>{{ nav.second_menu_item }}</a></li>
                    <li><a href={% url 'geography' %}>{{ nav.third_menu_item }}</a></li>
                    <li><a href={% url 'skillset' %}>{{ nav.fourth_menu_item }}</a></li>
                    <li><a href={% url 'recant_vacs' %}>{{ nav.fifth_menu_item }}</a></li>

                </ul>
            </nav>
        </div>
    {% endfor %}
    <div class="home_text">
        {% for context in context %}
            {{ context.data|safe }}
            <div class="empty"></div>
            <img class="home_img" src="{{ context.photo.url }}"/>
        {% endfor %}
    </div>
    </div>
    </main>
    <footer>
        {% for nav in navigation %}
            <p>{{ nav.author_name }}</p>
        {% endfor %}
    </footer>
    </body>
</html>